.link {
  display: inline-block;
  text-decoration: none;
  padding: 4px;
  font-weight: 700;
  color: #2a363b;
  font-size: 18px;
}

.activeLink {
  color: #2196f3;
}

.link:hover,
.link:focus {
  color: #2196f3;
}

.text {
  margin-bottom: 5px;
  color: #2196f3;
}

.container {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid #2196f3;
}

.textContainer {
  padding: 20px;
  width: 500px;
  text-align: justify;
}
